a {
    color: #ddd;
  }
  
  .menu a {
    text-decoration: none;
    color: #fff;
    display: block;
  }
  
  .menu a:hover {
    color: #c0dbff;
  }

  .my-editor {
    width: 700px;
    /* height: 400px; */
    display: flex;
  }

  .vanilla-jsoneditor-react {
    display: flex;
    flex: 1;
  }
  
  .Index {
    text-align: center;
  }
  
  #viewer {
    width: 99vw;
  }

  #viewer .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4vh;
  }
  
  #viewer .schema-name {
    margin-left: 16vw;
  }
  
  .button {
    margin-left: 5px;
  }
  
  .button:hover {
    background: #83a3bb;
  }
  
  .canvas-shrunk {
    margin: 0 1vw;
    width: 100vw !important;
  }
  
  .canvas-wide {
    margin: 0 1vw;
    width: 98vw !important;
  }

  /*Ovveride Navigator border and background:*/
  .cytoscape-navigator {
    border: 2px solid #bebebe !important;
    background: white !important;
    height: 25vh !important;
    width: 25vw !important;
    margin-bottom: 24px;
    margin-right: 45px;
    z-index: 1;
  }

  /*Add border to View container:*/
  .cytoscape-navigator .cytoscape-navigatorView {
    border: 2px solid #124191;
    background: transparent;
  }

  /*Ovveride overlay container when mouse is over Navigator*/
  .cytoscape-navigator:hover .cytoscape-navigatorOverlay {
    border: 2px solid #124191;
    background: transparent;
  }

  /*Ovveride view's container when mouse is over view*/
  .cytoscape-navigator.mouseover-view .cytoscape-navigatorView {
    background-color: rgba(18, 65, 145, 0.3);
  }

  .dialog-container {
    z-index: 1000;
  }
  
  .sidebar-open {
    width: 10.5vw;
    height: 80vh;
    padding: 0.4vw;
    transition: left 0.5s ease-in-out;
    border: 1px solid rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    margin: 0 1vw;
    background-color: #eee;
  }
  
  .sidebar-closed {
    width: 0;
    height: 100%;
    transition: left 0.5s ease-in-out;
    border: 0;
    margin: 0;
  }
  
  #schema-json {
    width: 28vw;
    height: 80vh;
    margin: 0 1vw;
    border: solid darkslateblue 2px;
    overflow-y: auto;
  }
  
  input.form-check-input {
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
  }